/.vs
/bin
/obj
/DataStructures/obj/Debug
/AbstractProblems/obj/Debug
/MainProgram/obj/Debug
/DataStructures/DataStructures.csproj.user
/DataStructures/.vs/DataStructures.csproj.dtbcache.json
/DataStructures/bin/Debug/DataStructures.dll
/DataStructures/bin/Debug/DataStructures.pdb
/MainProgram/bin/Debug/DataStructures.dll
/MainProgram/bin/Debug/DataStructures.pdb
/MainProgram/bin/Debug/MainProgram.exe
/MainProgram/bin/Debug/MainProgram.pdb
